
<h1>お気に入り一覧</h1>
<%= link_to '戻る', blogs_path %>
<table>
  <thead>
    <tr>
      <!-- <th>Title</th> -->
      <th></th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% @favorites_blogs.each do |blog| %>
      <tr class="wrapper">
        <td id="blogscontent"><%= blog.content %></td>
        <td id="blogpr"><br><br><br><br><%= link_to 'お気に入り解除する', favorite_path(blog.id), method: :delete, class: 'btn btn-xs btn-danger'%></td>
        <td id="blogpr"><br><br><br><br><%= blog.updated_at %></td>

      </tr>

    <% end %>
</tbody>
</table>
