// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
  color: #fff;
 background: image-url("Photoelly037.jpg");
 background-size: cover;
  height: 100%;
}
